.wrapper{
    display: flex;
    min-height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(0,0,0,0.4);
    border-radius: 4px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.skills{
    margin-top: 4px;
    flex:0 20%;
    padding: 2%;
    background-color: darkslategrey;
    display: flex;
    flex-direction: column;
    color: antiquewhite;
     align-items: center;
    

}

.info{
    margin-top: 4px;
    background-color: blanchedalmond;
    flex:0 60%;
    padding: 2%;
    border:4px solid darkslategrey;
}
.personal{
    border-top: 7px solid darkslategrey;
   
    padding-bottom: 3px;
    margin-bottom: 3px;
    display: flex;
    width:100%;
    flex-wrap: wrap;
    
    padding-left: 2%;
    overflow: hidden;
    align-items: stretch;
}
.head{
    flex-basis: 100%;

}
.my
{
    flex-basis: 40%;
    flex-shrink: 2;
padding: 2px;
}
.detail{
    flex-basis:40%;
    flex-shrink:1;
    padding:2px;
}
.edu{
    border-top: 7px solid darkslategrey;
    
    padding-bottom: 3px;
    margin-top:4px;
    margin-bottom: 4px;
    
    padding-left: 2%

}
.skills > * {
    flex-basis: 10%;
    align-items: baseline;
    
}
.interest{
    border-top: 7px solid darkslategrey;
   
    padding-bottom: 3px;
    margin-top:4px;
    margin-bottom: 4px;
    
    padding-left: 2%

}
.web{
    border-top: 7px solid darkslategrey;
   
    padding-bottom: 3px;
    margin-top:4px;
    margin-bottom: 4px;
    
    padding-left: 2%

}
.object{
    border-top: 7px solid darkslategrey;
   
    padding-bottom: 3px;
    margin-top:4px;
    margin-bottom: 4px;
    
    padding-left: 2%


}

.main{
    font-size: 15px;
}
.mini,.sub,.one,.two,.three{
    position:relative;
}
.one{
    border-top:3px solid white;
}
.three{
    right: 35px;
    border-top:3px solid white;
}
.two{
    left:20px;
    border-top:3px solid white;
}
.sub{
    right:20px;
   
}
.btn{
    display:inline-block;
    background-color: black;
    text-align: center;
    width: 5%;
    padding:2%;
    margin: 4%;
    size: 15px;
    height: 10%;
    border:2px solid white;
    border-radius:15px;
    flex-shrink: 1;
}
.btn i{
    font-size: 25px;
}
.btn:hover{
    background-color: rgba(0,0,0,0.3);
}
.contact{
    border-top: 7px solid darkslategrey;
   
    padding-bottom: 3px;
    margin-top:4px;
    margin-bottom: 4px;
    
    padding-left: 2%;
    display:flex;
    align-items: center;

}
.heading3{
    flex-shrink:2;
}